:root ´{
    --principal: #318c7a;
    --secundario: #92d8e8;
    --terciario: #045163;
    --letra: #e2ecec;
}

body {
    width: 90vw;
    margin: auto;
    background-color: var(--principal);
    font-family: Arial, sans-serif;
  }

#requisitos-adopcion {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
}

h2 {
    color: #333;
    text-align: center;
}

p {
    line-height: 1.6;
}

ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}