<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <header class="header">
        <div class="container">
          <div id="nav-externo">
            <!-- navegacion desde js -->
             <%- include('../partials/nav') %>
          </div>
        </div>
      </header>
    <h1>Se envió el registro correctamente</h1>
    
    <%- include('../partials/footer') %>
</body>
</html>