<footer>
    <div id="datos">
      <br>
        <p>Calle Falsa 123, Ciudad, País</p>
        <p>Teléfono: +1 234 567 890</p>
        <p>refugioamigospeludos@info.org</p>
        <p><a href="contacto.html">Quiero hacer donaciones</a></p>
        <p><a href="educacionCanina.html">Como trabaja el refugio</a></p>
        <p><a href="nuestrosPerros.html">Conoce nuestros rescataditos</a></p><br>
            <div id="redes">
                <nav id="botonera_footer">
                    <ul>
                        <li><a href="http://www.facebook.com/RefugioAmigosPeludos" target="_blank" ><img src="img/ico/fb.png" alt="Icono Facebook"></a></li>
                        <li><a href="http://www.twitter.com/RefugioAmigosPeludos" target="_blank"><img src="img/ico/tw.png" alt="Icono Twitter"></a></li>
                        <li><a href="http://www.youtube.com/RefugioAmigosPeludos" target="_blank"><img src="img/ico/yt.png" alt="Icono Youtube"></a></li>
                        <li><a href="http://www.instagram.com/RefugioAmigosPeludos" target="_blank"><img src="img/ico/ig.png" alt="Icono Instagram"></a></li>
                    </ul>
                </nav>
            </div>
           
    </div>
    <div class="logowpp">
                <a href="https://api.whatsapp.com/send?phone=542996748781" target="_blank"><img src="img/ico/whatsapp.png" alt="Icono Whatsapp"></a>  
    </div> 
</footer>